body{
  background: radial-gradient(#e5e5e5, #1AC6DF);
}

.card{
  width: 20rem;
}

.card:hover{
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.253) !important;
}

.card-body{
  padding: 3rem 0 !important;
}

.card-text{
  font-size: .9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid{
  padding-top: 6rem;
}

img.profil{
  height: 300px;
  width: 280px;
}

img.articles{
  height: 100px;
  width: 100px;
}

Form{
  padding: 20px;
}
